@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1400px;
  color: #2b2a2a;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
body {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  z-index: 0;
}
.header {
  overflow: hidden;
  padding: 9px 0;
  position: relative;
  z-index: 465;
  background: #ffffff;
}
.l-constrained {
  margin: 0 auto;
  padding: 0 100px 0 111px;
  position: relative;
  width: 1400px;
}
.layer-524 {
  float: left;
}
.text {
  float: left;
  margin: 15px 0 0 150px;
  width: 383px;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.col-6 {
  float: left;
  margin: 16px 0 0 192px;
  position: relative;
  width: 217px;
}
.phone {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  position: relative;
}
.icon {
  display: inline-block;
  padding: 8px 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #2071de;
}
.icon-2 {
  display: block;
  margin: 0 auto;
}
.text-2 {
  display: inline-block;
  margin: 4px 0 0 8px;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: bold;
  text-transform: uppercase;
}
.line {
  height: 2px;
  margin: 7px auto 0;
  width: 204px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: #2071de;
}
.social {
  margin: 9px auto 0;
  position: relative;
  text-align: center;
}
.calenda {
  margin: 1px 0 0;
}
.in {
  margin: 0 0 0 21px;
}
.tw {
  margin: 3px 0 0 18px;
}
.social > * {
  display: inline-block;
  vertical-align: top;
}
.col {
  margin: -79px 0 0;
  min-height: 10070px;
  padding: 79px 0 0;
  position: relative;
  z-index: 1;
  background: #ffffff center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-banner {
  margin: 0 auto;
  overflow: hidden;
  padding: 110px 0 106px;
  position: relative;
  z-index: 456;
  background: #003381;
}
.l-constrained-7 {
  margin: 0 auto;
  padding: 0 159px;
  position: relative;
  width: 1400px;
}
.slogan {
  overflow: hidden;
  position: relative;
}
.text-3 {
  color: #ffffff;
  font-size: 3.625rem; /* 58px / 16px = 3.625rem */
  font-weight: bold;
  line-height: 68px;
  text-align: center;
}
.text-4 {
  margin: 43px 0 0;
  color: #ffffff;
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
  font-weight: 500;
  text-align: center;
}
.text-5 {
  margin: 28px auto 0;
  width: 1082px;
  color: #ffffff;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  text-align: center;
}
.line-copy-2 {
  display: block;
  margin: -17px auto 0;
  position: relative;
  right: 43.5px;
}
.expert-guidance {
  margin: -37px auto 0;
  position: relative;
  width: 99.8125%; /* 1597px / 1600px = 99.8125% */
  z-index: 409;
}
.rectangle-2-copy-holder {
  margin: 0 auto;
  overflow: hidden;
  padding: 143px 0 237px;
  position: relative;
  background: #f7fafb;
}
.title {
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  width: 1400px;
}
.text-6 {
  font-size: 3rem; /* 48px / 16px = 3rem */
  font-weight: bold;
  text-align: center;
}
.text-7 {
  margin: 30px auto 0;
  width: 956px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}
.group-1 {
  margin: -163px auto 0;
  padding: 0 108px;
  position: relative;
  width: 1400px;
}
.group-1 > * {
  float: left;
  margin: 0 20px 0 0;
}
.group-1 > *:last-child {
  margin-right: 0 !important;
}
.group-2 {
  min-height: 450px;
  padding: 61px 0 44px;
  position: relative;
  width: 380px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14);
  -moz-box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14);
  box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14); /*drop shadow*/
}
.icon-3 {
  display: block;
  margin: 0 auto;
}
.text-8 {
  display: table;
  margin: 41px auto 0;
  position: relative;
}
.text-9 {
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: bold;
  text-align: center;
}
.sep {
  height: 3px;
  margin: 13px auto 0;
  width: 55px;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  border-radius: 1.5px;
  background: #007dc4;
}
.text-10 {
  margin: 21px auto 0;
  width: 323px;
  font-size: 1rem; /* 16px / 16px = 1rem */
  line-height: 28px;
  text-align: center;
}
.group-3 {
  min-height: 450px;
  padding: 65px 0 44px;
  position: relative;
  width: 380px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14);
  -moz-box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14);
  box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14); /*drop shadow*/
}
.icon-4 {
  display: block;
  margin: 0 auto;
}
.text-11 {
  display: table;
  margin: 38px auto 0;
  position: relative;
}
.text-12 {
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: bold;
  text-align: center;
}
.sep-2 {
  height: 3px;
  margin: 12px auto 0;
  width: 55px;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  border-radius: 1.5px;
  background: #007dc4;
}
.text-13 {
  margin: 21px auto 0;
  width: 307px;
  font-size: 1rem; /* 16px / 16px = 1rem */
  line-height: 28px;
  text-align: center;
}
.group-4 {
  min-height: 450px;
  padding: 61px 0 44px;
  position: relative;
  width: 380px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14);
  -moz-box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14);
  box-shadow: 0 10px 12px 0 rgba(0, 53, 135, 0.14); /*drop shadow*/
}
.icon-5 {
  display: block;
  margin: 0 auto;
}
.text-14 {
  display: table;
  margin: 41px auto 0;
  position: relative;
}
.text-15 {
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: bold;
  text-align: center;
}
.sep-3 {
  height: 3px;
  margin: 11px auto 0;
  width: 55px;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  border-radius: 1.5px;
  background: #007dc4;
}
.text-16 {
  margin: 21px auto 0;
  width: 320px;
  font-size: 1rem; /* 16px / 16px = 1rem */
  line-height: 28px;
  text-align: center;
}
.btn {
  margin: 80px auto 0;
  min-height: 100px;
  padding: 20px 24px 20px 28px;
  position: relative;
  width: 480px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ff9000;
}
.copy {
  float: left;
  margin: 1px 18px 0 0;
  position: relative;
  width: 350px;
}
.text-17 {
  color: #ffffff;
  font-size: 1.875rem; /* 30px / 16px = 1.875rem */
  font-weight: bold;
  text-transform: uppercase;
}
.text-18 {
  margin: 3px 0 0;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}
.icon-6 {
  float: left;
  padding: 16px 0 15px;
  position: relative;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e67700;
}
.layer-6 {
  display: block;
  margin: 0 auto;
}
.expert-solutions {
  margin: 128px auto 0;
  padding: 104px 0 134px;
  position: relative;
  z-index: 350;
  background: #003381;
}
.l-constrained-6 {
  margin: 0 auto;
  position: relative;
  width: 1400px;
}
.title-2 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-19 {
  color: #fefefe;
  font-size: 3rem; /* 48px / 16px = 3rem */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.text-20 {
  margin: 35px auto 0;
  width: 1082px;
  color: #ffffff;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  line-height: 34px;
  text-align: center;
}
.row-7 {
  margin: 74px auto 0;
  position: relative;
  width: 1180px;
}
.col-15 {
  float: left;
  position: relative;
  width: 580px;
}
.group-5 {
  min-height: 440px;
  padding: 5px;
  position: relative;
  border: 1px solid #0b4194; /*stroke*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #003381;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.row-8 {
  margin: 0 0 0 58px;
  position: relative;
  width: 510px;
}
.col-17 {
  float: left;
  margin: 45px 0 0;
  position: relative;
  width: 223px;
}
.text-21 {
  color: #ffffff;
  font-size: 1.625rem; /* 26px / 16px = 1.625rem */
  font-weight: bold;
  line-height: 36px;
}
.sep-4 {
  height: 5px;
  margin: 6px 0 0;
  position: relative;
  width: 55px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  background: #007dc4;
}
.icon-7 {
  float: right;
  padding: 22px 0 21px;
  position: relative;
  width: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #003381;
}
.icon-8 {
  display: block;
  margin: 0 auto;
}
.text-22 {
  margin: 25px 0 0 58px;
  width: 463px;
  color: #ffffff;
  line-height: 32px;
}
.group-6 {
  margin: 20px 0 0;
  min-height: 440px;
  padding: 5px;
  position: relative;
  border: 1px solid #0b4194; /*stroke*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #003381;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.row-10 {
  margin: 0 0 0 57px;
  position: relative;
  width: 511px;
}
.col-19 {
  float: left;
  margin: 45px 0 0;
  position: relative;
  width: 287px;
}
.text-23 {
  color: #ffffff;
  font-size: 1.625rem; /* 26px / 16px = 1.625rem */
  font-weight: bold;
  line-height: 36px;
}
.sep-5 {
  height: 5px;
  margin: 5px 0 0;
  position: relative;
  width: 55px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  background: #007dc4;
}
.icon-9 {
  float: right;
  padding: 22px 0 21px;
  position: relative;
  width: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #003381;
}
.group-4-2 {
  display: block;
  margin: 0 auto;
}
.text-24 {
  margin: 24px 0 0 58px;
  width: 466px;
  color: #ffffff;
  line-height: 32px;
}
.col-16 {
  float: right;
  position: relative;
  width: 580px;
}
.group-7 {
  min-height: 440px;
  padding: 5px;
  position: relative;
  border: 1px solid #0b4194; /*stroke*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #003381;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.row-9 {
  margin: 0 0 0 56px;
  position: relative;
  width: 512px;
}
.col-18 {
  float: left;
  margin: 45px 0 0;
  position: relative;
  width: 358px;
}
.text-25 {
  color: #ffffff;
  font-size: 1.625rem; /* 26px / 16px = 1.625rem */
  font-weight: bold;
  line-height: 36px;
}
.sep-6 {
  height: 5px;
  margin: 12px 0 0;
  position: relative;
  width: 55px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  background: #007dc4;
}
.icon-10 {
  float: right;
  padding: 22px 0 21px;
  position: relative;
  width: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #003381;
}
.layer-726 {
  display: block;
  margin: 0 auto;
}
.text-26 {
  margin: 24px 0 0 57px;
  width: 463px;
  color: #ffffff;
  line-height: 32px;
}
.group-8 {
  margin: 20px 0 0;
  min-height: 440px;
  padding: 5px;
  position: relative;
  border: 1px solid #0b4194; /*stroke*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #003381;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.row-11 {
  margin: 0 0 0 57px;
  position: relative;
  width: 511px;
}
.col-20 {
  float: left;
  margin: 44px 0 0;
  position: relative;
  width: 216px;
}
.text-27 {
  color: #ffffff;
  font-size: 1.625rem; /* 26px / 16px = 1.625rem */
  font-weight: bold;
  line-height: 36px;
}
.sep-7 {
  height: 5px;
  margin: 7px 0 0;
  position: relative;
  width: 55px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  background: #007dc4;
}
.icon-11 {
  float: right;
  padding: 23px 0 20px;
  position: relative;
  width: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #003381;
}
.layer-726-2 {
  display: block;
  margin: 0 auto;
}
.text-28 {
  margin: 24px 0 0 57px;
  width: 463px;
  color: #ffffff;
  line-height: 32px;
}
.facing-business {
  margin: 80px auto 0;
  position: relative;
  width: 1400px;
  z-index: 340;
}
.text-29 {
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  line-height: 42px;
  text-align: center;
}
.phone-2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: table;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 14px auto 0;
  position: relative;
}
.icon-copy {
  display: inline-block;
  padding: 8px 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff9000;
}
.icon-12 {
  display: block;
  margin: 0 auto;
}
.text-30 {
  display: inline-block;
  margin: 5px 0 0 4px;
  color: #003381;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: bold;
  text-align: center;
}
.how-we-assist-in-company-closure {
  margin: 75px auto 0;
  padding: 103px 0 110px;
  position: relative;
  z-index: 308;
  background: #003381;
}
.l-constrained-5 {
  margin: 0 auto;
  position: relative;
  width: 1400px;
}
.title-copy {
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-31 {
  color: #fefefe;
  font-size: 3rem; /* 48px / 16px = 3rem */
  font-weight: bold;
  text-align: center;
}
.text-32 {
  margin: 51px auto 0;
  width: 956px;
  color: #ffffff;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}
.row-3 {
  margin: 83px auto 0;
  position: relative;
  width: 1184px;
}
.row-3 > * {
  float: left;
  margin: 0 53.3px 0 0;
}
.row-3 > *:last-child {
  margin-right: 0 !important;
}
.group-9 {
  height: 531px;
  position: relative;
  width: 359px;
  margin-top: 4px !important;
}
.line-2 {
  height: 528px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
  background: #007dc4;
  margin-left: -175.5px;
}
.rectangle-718 {
  height: 3px;
  left: 50%;
  position: absolute;
  top: 525px;
  width: 92px;
  background: #007dc4;
  margin-left: -172.5px;
}
.rectangle-721 {
  height: 12px;
  left: 50%;
  position: absolute;
  top: 519px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff9000;
  margin-left: -179.5px;
}
.icon-13 {
  left: 50%;
  position: absolute;
  top: 13px;
  margin-left: -140.5px;
}
.text-33 {
  left: 50%;
  position: absolute;
  top: 136px;
  color: #ff9000;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-left: -139.5px;
}
.text-34 {
  left: 50%;
  position: absolute;
  top: 187px;
  width: 314px;
  color: #ffffff;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: 300;
  line-height: 28px;
  margin-left: -134.5px;
}
.group-10 {
  height: 531px;
  position: relative;
  width: 359px;
  margin-top: 4px !important;
}
.line-3 {
  height: 528px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
  background: #007dc4;
  margin-left: -175.5px;
}
.rectangle-718-copy {
  height: 3px;
  left: 50%;
  position: absolute;
  top: 525px;
  width: 92px;
  background: #007dc4;
  margin-left: -172.5px;
}
.rectangle-721-copy {
  height: 12px;
  left: 50%;
  position: absolute;
  top: 519px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff9000;
  margin-left: -179.5px;
}
.text-35 {
  left: 50%;
  position: absolute;
  top: 136px;
  color: #ff9000;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  margin-left: -138.5px;
}
.text-36 {
  left: 50%;
  position: absolute;
  top: 187px;
  width: 314px;
  color: #ffffff;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: 300;
  line-height: 28px;
  margin-left: -134.5px;
}
.img {
  left: 50%;
  position: absolute;
  top: 10px;
  margin-left: -132.5px;
}
.group-11 {
  height: 535px;
  position: relative;
  width: 359px;
}
.line-4 {
  height: 528px;
  left: 50%;
  position: absolute;
  top: 4px;
  width: 3px;
  background: #007dc4;
  margin-left: -175.5px;
}
.rectangle-718-copy-2 {
  height: 3px;
  left: 50%;
  position: absolute;
  top: 529px;
  width: 92px;
  background: #007dc4;
  margin-left: -172.5px;
}
.rectangle-721-copy-2 {
  height: 12px;
  left: 50%;
  position: absolute;
  top: 523px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ff9000;
  margin-left: -179.5px;
}
.img-2 {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -139.5px;
}
.text-37 {
  left: 50%;
  position: absolute;
  top: 141px;
  color: #ff9000;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  margin-left: -139.5px;
}
.text-38 {
  left: 50%;
  position: absolute;
  top: 192px;
  width: 314px;
  color: #ffffff;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: 300;
  line-height: 28px;
  margin-left: -134.5px;
}
.enquiry-form {
  margin: 131px auto 0;
  padding: 0 108px;
  position: relative;
  width: 1400px;
  z-index: 255;
}
.left-copy {
  float: left;
  margin: 41px 0 0;
  position: relative;
  width: 525px;
  z-index: 0;
}
.wrapper-4 {
  height: 185px;
  position: relative;
  width: 525px;
  z-index: 300;
}
.arrow {
  left: 50%;
  position: absolute;
  top: 132px;
  margin-left: 68.5px;
}
.text-39 {
  left: 50%;
  position: absolute;
  top: 0;
  font-size: 3rem; /* 48px / 16px = 3rem */
  font-weight: bold;
  line-height: 62px;
  margin-left: -262.5px;
}
.text-40 {
  margin: 50px auto 0;
  position: relative;
  width: 518px;
  z-index: 301;
  font-weight: 300;
  line-height: 32px;
}
.text-41 {
  margin: 65px 0 0 3px;
  position: relative;
  z-index: 303;
  font-size: 1.875rem; /* 30px / 16px = 1.875rem */
  font-weight: bold;
}
.line-5 {
  display: block;
  left: 160px;
  margin: -4px auto 0;
  position: relative;
  z-index: 302;
}
.form-4 {
  float: right;
  margin: 0 3px 0 0;
  min-height: 660px;
  padding: 46px 0;
  position: relative;
  width: 580px;
  border: 2px solid #007dc4; /*stroke*/
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background: #007dc4;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  -webkit-box-shadow: 0 7px 29.76px 2.24px rgba(0, 53, 135, 0.32);
  -moz-box-shadow: 0 7px 29.76px 2.24px rgba(0, 53, 135, 0.32);
  box-shadow: 0 7px 29.76px 2.24px rgba(0, 53, 135, 0.32); /*drop shadow*/
}
.title-3 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-42 {
  color: #ffffff;
  font-size: 2rem; /* 32px / 16px = 2rem */
  font-weight: 600;
  text-align: center;
}
.rounded-rectangle-3 {
  height: 3px;
  margin: 16px auto 0;
  width: 120px;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  border-radius: 1.5px;
  background: #ffffff;
}
.text-43 {
  margin: 25px 0 0;
  color: #ffffff;
  font-size: 1.375rem; /* 22px / 16px = 1.375rem */
  text-align: center;
}
.fields {
  display: table;
  margin: 26px auto 0;
  position: relative;
}
.name {
  min-height: 60px;
  position: relative;
  width: 490px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
}
.rounded-rectangle-4-copy-4-holder {
  float: left;
  margin: 0 12px 0 0;
  padding: 21px 0;
  position: relative;
  width: 50px;
  border: 1px solid #e5e5e5; /*stroke*/
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background: #f4f4f4;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.icon-14 {
  display: block;
  margin: 0 auto;
}
.name-2 {
  float: left;
  margin: 21px 0 0;
  width: 62px;
  color: #838383;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-weight: 300;
}
.comp {
  margin: 8px 0 0;
  min-height: 60px;
  position: relative;
  width: 490px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
}
.rounded-rectangle-4-copy-6-holder {
  float: left;
  margin: 0 11px 0 0;
  padding: 21px 0;
  position: relative;
  width: 50px;
  border: 1px solid #e5e5e5; /*stroke*/
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background: #f4f4f4;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.icon-15 {
  display: block;
  margin: 0 auto;
}
.company {
  float: left;
  margin: 22px 0 0;
  width: 99px;
  color: #838383;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-weight: 300;
}
.email {
  margin: 8px 0 0;
  min-height: 60px;
  position: relative;
  width: 490px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
}
.rounded-rectangle-4-copy-5-holder {
  float: left;
  margin: 0 11px 0 0;
  padding: 22px 0;
  position: relative;
  width: 50px;
  border: 1px solid #e5e5e5; /*stroke*/
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background: #f4f4f4;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.icon-16 {
  display: block;
  margin: 0 auto;
}
.email-2 {
  float: left;
  margin: 20px 0 0;
  width: 55px;
  color: #838383;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-weight: 300;
}
.phone-3 {
  margin: 8px 0 0;
  min-height: 60px;
  position: relative;
  width: 490px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background: #ffffff;
}
.rounded-rectangle-4-copy-7-holder {
  float: left;
  margin: 0 12px 0 0;
  padding: 21px 0;
  position: relative;
  width: 50px;
  border: 1px solid #e5e5e5; /*stroke*/
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  background: #f4f4f4;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.icon-17 {
  display: block;
  margin: 0 auto;
}
.phone-4 {
  float: left;
  margin: 19px 0 0;
  width: 64px;
  color: #838383;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-weight: 300;
}
.text-44 {
  margin: 20px 0 0;
  color: #ffffff;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  line-height: 20px;
  text-align: center;
}
.btn-copy-8 {
  margin: 27px auto 0;
  min-height: 80px;
  padding: 15px 26px 15px 95px;
  position: relative;
  width: 320px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ff9000;
  -webkit-box-shadow: 0 4px 0 0 rgba(0, 53, 135, 0.12);
  -moz-box-shadow: 0 4px 0 0 rgba(0, 53, 135, 0.12);
  box-shadow: 0 4px 0 0 rgba(0, 53, 135, 0.12); /*drop shadow*/
}
.copy-2 {
  float: left;
  margin: 10px 0 0;
  width: 122px;
  color: #ffffff;
  font-size: 1.875rem; /* 30px / 16px = 1.875rem */
  font-weight: bold;
  text-transform: uppercase;
}
.icon-18 {
  float: right;
  padding: 10px 7px;
  position: relative;
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e67700;
}
.layer-549 {
  display: block;
  left: 3px;
  margin: 0 auto;
  position: relative;
}
.hello-i-m-rowan {
  height: 1252px;
  margin: 39px auto 0;
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  z-index: 225;
}
.col-5 {
  height: 1187px;
  left: 0;
  padding: 78px 0 691px;
  position: absolute;
  top: 65px;
  width: 100%; /* 1600px / 1600px = 100% */
  background: url(images/rectangle_6.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-9 {
  margin: 0 auto;
  position: relative;
  width: 1400px;
}
.text-45 {
  margin: 0 101px 0 803px;
  font-size: 2.625rem; /* 42px / 16px = 2.625rem */
  font-weight: bold;
  line-height: 58px;
}
.list {
  left: 404.5px;
  margin: 31px auto 0;
  position: relative;
  width: 591px;
}
.col-13 {
  float: left;
  margin: 11px 18px 0 0;
  position: relative;
  width: 30px;
}
.tick {
  display: block;
}
.tick-copy-6 {
  display: block;
  margin: 28px 0 0;
}
.tick-copy-7 {
  display: block;
  margin: 27px 0 0;
}
.text-46 {
  float: left;
  width: 543px;
  color: #003381;
  font-size: 1.5rem; /* 24px / 16px = 1.5rem */
  font-weight: 600;
}
.layer-21-copy {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -670px;
}
.copy-3 {
  left: 50%;
  min-height: 550px;
  padding: 71px 60px 48px 109px;
  position: absolute;
  top: 618px;
  width: 1400px;
  -webkit-border-radius: 3px 10px 10px;
  -moz-border-radius: 3px 10px 10px;
  border-radius: 3px 10px 10px;
  background: #ffffff;
  margin-left: -700px;
}
.text-47 {
  float: left;
  width: 534px;
  line-height: 32px;
}
.col-11 {
  float: right;
  margin: 5px 0 0;
  position: relative;
  width: 597px;
}
.text-48 {
  width: 597px;
  line-height: 32px;
}
.btn-copy-2 {
  margin: 37px 0 0;
  min-height: 100px;
  padding: 20px 20px 20px 35px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ff9000;
}
.copy-4 {
  float: left;
  margin: 1px 10px 0 0;
  position: relative;
  width: 405px;
}
.text-49 {
  color: #ffffff;
  font-size: 1.875rem; /* 30px / 16px = 1.875rem */
  font-weight: bold;
  text-transform: uppercase;
}
.text-50 {
  margin: 4px 0 0;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}
.icon-19 {
  float: left;
  padding: 15px 0;
  position: relative;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e67700;
}
.layer-6-2 {
  display: block;
  margin: 0 auto;
}
.removal-of-personal {
  margin: 134px auto 0;
  padding: 0 111px;
  position: relative;
  width: 1400px;
  z-index: 220;
}
.col-9 {
  float: left;
  margin: 0 49px 0 0;
  position: relative;
  width: 672px;
}
.text-51 {
  font-size: 2.25rem; /* 36px / 16px = 2.25rem */
  font-weight: bold;
}
.text-52 {
  margin: 58px 0 0 1px;
  width: 671px;
  font-weight: 300;
  line-height: 32px;
}
.img-3 {
  float: left;
  margin: 64px 0 0;
}
.reviews {
  margin: 134px auto 0;
  padding: 90px 0 123px;
  position: relative;
  z-index: 163;
  background: #f7fafb;
}
.l-constrained-4 {
  margin: 0 auto;
  padding: 0 90px;
  position: relative;
  width: 1400px;
}
.text-53 {
  font-size: 3rem; /* 48px / 16px = 3rem */
  font-weight: bold;
  text-align: center;
}
.row-2 {
  left: 10px;
  margin: 81px auto 0;
  position: relative;
  width: 1200px;
}
.row-2 > * {
  float: left;
  margin: 0 30px 0 0;
}
.row-2 > *:last-child {
  margin-right: 0 !important;
}
.group-12 {
  position: relative;
  width: 380px;
  z-index: 0;
}
.ellipse-6 {
  height: 148px;
  margin: 0 auto;
  position: relative;
  width: 148px;
  z-index: 167;
  border: 8px solid #ffffff; /*stroke*/
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  border-radius: 74px;
  background: url(images/ellipse_6_4.png) no-repeat -4px -4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.col-2 {
  margin: -81px auto 0;
  min-height: 380px;
  padding: 113px 0 50px;
  position: relative;
  z-index: 165;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f7fafb;
  -webkit-box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42);
  -moz-box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42);
  box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42); /*drop shadow*/
}
.text-54 {
  font-weight: bold;
  text-align: center;
}
.text-55 {
  margin: 25px auto 0;
  width: 325px;
  color: #003381;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-style: italic;
  line-height: 32px;
  text-align: center;
}
.stars {
  margin: 24px auto 0;
  position: relative;
  text-align: center;
}
.stars > * {
  margin: 0 4.3px 0 0;
}
.stars > *:last-child {
  margin-right: 0 !important;
}
.stars > * {
  display: inline-block;
  vertical-align: top;
}
.group-13 {
  position: relative;
  width: 380px;
  z-index: 0;
}
.ellipse-6-2 {
  height: 148px;
  margin: 0 auto;
  position: relative;
  width: 148px;
  z-index: 183;
  border: 8px solid #ffffff; /*stroke*/
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  border-radius: 74px;
  background: url(images/ellipse_6_5.png) no-repeat -4px -4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.col-3 {
  margin: -81px auto 0;
  min-height: 380px;
  padding: 112px 0 50px;
  position: relative;
  z-index: 181;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f7fafb;
  -webkit-box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42);
  -moz-box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42);
  box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42); /*drop shadow*/
}
.text-56 {
  font-weight: bold;
  text-align: center;
}
.text-57 {
  margin: 23px auto 0;
  width: 324px;
  color: #003381;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-style: italic;
  line-height: 32px;
  text-align: center;
}
.stars-2 {
  margin: 24px auto 0;
  position: relative;
  text-align: center;
}
.stars-2 > * {
  margin: 0 4.3px 0 0;
}
.stars-2 > *:last-child {
  margin-right: 0 !important;
}
.stars-2 > * {
  display: inline-block;
  vertical-align: top;
}
.group-14 {
  position: relative;
  width: 380px;
  z-index: 0;
}
.ellipse-6-3 {
  height: 148px;
  margin: 0 auto;
  position: relative;
  width: 148px;
  z-index: 199;
  border: 8px solid #ffffff; /*stroke*/
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  border-radius: 74px;
  background: url(images/ellipse_6_6.png) no-repeat -4px -4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.col-4 {
  margin: -81px auto 0;
  min-height: 380px;
  padding: 114px 0 50px;
  position: relative;
  z-index: 197;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f7fafb;
  -webkit-box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42);
  -moz-box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42);
  box-shadow: 0 12px 29.76px 2.24px rgba(123, 131, 136, 0.42); /*drop shadow*/
}
.text-58 {
  font-weight: bold;
  text-align: center;
}
.text-59 {
  margin: 24px auto 0;
  width: 325px;
  color: #003381;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  font-style: italic;
  line-height: 32px;
  text-align: center;
}
.stars-3 {
  margin: 28px auto 0;
  position: relative;
  text-align: center;
}
.stars-3 > * {
  margin: 0 4.3px 0 0;
}
.stars-3 > *:last-child {
  margin-right: 0 !important;
}
.stars-3 > * {
  display: inline-block;
  vertical-align: top;
}
.selling-a-distressed-company {
  margin: 137px auto 0;
  padding: 0 105px 0 142px;
  position: relative;
  width: 1400px;
  z-index: 215;
}
.group-3-2 {
  float: left;
  margin: 92px 131px 0 0;
}
.col-8 {
  float: left;
  position: relative;
  width: 672px;
}
.text-60 {
  font-size: 2.25rem; /* 36px / 16px = 2.25rem */
  font-weight: bold;
}
.text-61 {
  margin: 54px 0 0 1px;
  width: 671px;
  font-weight: 300;
  line-height: 32px;
}
.we-provide-free {
  margin: 135px auto 0;
  padding: 125px 0 116px;
  position: relative;
  z-index: 95;
  background: #003381;
}
.l-constrained-3 {
  margin: 0 auto;
  position: relative;
  width: 1400px;
}
.text-62 {
  color: #ffffff;
  font-size: 3rem; /* 48px / 16px = 3rem */
  font-weight: bold;
  text-align: center;
}
.wrapper-9 {
  height: 161px;
  margin: 50px auto 0;
  position: relative;
  width: 1152px;
}
.line-6 {
  left: 50%;
  position: absolute;
  top: 46px;
  margin-left: -41px;
}
.text-63 {
  left: 50%;
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 1.625rem; /* 26px / 16px = 1.625rem */
  text-align: center;
  margin-left: -576px;
}
.btn-copy {
  margin: 46px auto 0;
  min-height: 100px;
  padding: 20px 29px 20px 35px;
  position: relative;
  width: 500px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #ff9000;
}
.copy-5 {
  float: left;
  margin: 1px 26px 0 0;
  position: relative;
  width: 350px;
}
.text-64 {
  color: #ffffff;
  font-size: 1.875rem; /* 30px / 16px = 1.875rem */
  font-weight: bold;
  text-transform: uppercase;
}
.text-65 {
  margin: 3px 0 0;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}
.icon-20 {
  float: left;
  padding: 15px 0;
  position: relative;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e67700;
}
.layer-6-3 {
  display: block;
  margin: 0 auto;
}
.footer {
  margin: 86px auto 0;
  position: relative;
  z-index: 48;
}
.l-unconstrained {
  position: relative;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 109px;
  position: relative;
  width: 1400px;
}
.row-5 {
  position: relative;
}
.about-us {
  float: left;
  position: relative;
  width: 382px;
}
.text-66 {
  color: #003381;
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
  font-weight: bold;
}
.text-67 {
  margin: 21px 0 0;
  width: 382px;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
  line-height: 32px;
}
.links {
  float: left;
  margin: 11px 0 0 122px;
  position: relative;
  width: 221px;
}
.links-2 {
  position: relative;
}
.text-68 {
  color: #003381;
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
  font-weight: bold;
}
.text-69 {
  margin: 11px 0 0;
  width: 221px;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
}
.col-10 {
  float: left;
  margin: 3px 0 0 199px;
  position: relative;
  width: 224px;
}
.open-hours {
  position: relative;
}
.text-70 {
  color: #003381;
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
  font-weight: bold;
  text-align: left;
}
.text-71 {
  margin: 14px 0 0 3px;
  width: 221px;
  font-size: 1.125rem; /* 18px / 16px = 1.125rem */
}
.social-icons {
  margin: 28px 5px 0;
  position: relative;
}
.text-72 {
  margin: 0 0 0 1px;
  color: #003381;
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
  font-weight: bold;
}
.row-6 {
  margin: 24px 0 0;
  position: relative;
}
.calenda-2 {
  float: left;
  margin: 1px 0 0;
}
.in-2 {
  float: left;
  margin: 0 0 0 21px;
}
.tw-2 {
  float: left;
  margin: 1px 0 0 18px;
}
.contact {
  margin: 32px 0 0;
  position: relative;
}
.text-73 {
  float: left;
  margin: 22px 0 0;
  color: #003381;
  font-size: 1.75rem; /* 28px / 16px = 1.75rem */
  font-weight: bold;
}
.phone-5 {
  float: left;
  margin: 15px 0 0 18px;
  position: relative;
  width: 167px;
}
.ellipse-681-holder {
  float: left;
  margin: 0 9px 0 0;
  padding: 11px 0;
  position: relative;
  width: 40px;
  border: 1px solid #007dc4; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.phone-6 {
  display: block;
  margin: 0 auto;
}
.text-74 {
  float: left;
  margin: 13px 0 0;
  width: 118px;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: bold;
}
.email-3 {
  float: left;
  margin: 15px 0 0 97px;
  position: relative;
  width: 392px;
}
.ellipse-681-holder-2 {
  float: left;
  margin: 0 16px 0 0;
  padding: 13px 0 12px;
  position: relative;
  width: 40px;
  border: 1px solid #007dc4; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.email-4 {
  display: block;
  margin: 0 auto;
}
.text-75 {
  float: left;
  margin: 14px 0 0;
  width: 336px;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: bold;
}
.address {
  float: left;
  margin: 0 0 0 88px;
  position: relative;
  width: 210px;
}
.ellipse-681-copy-holder {
  float: left;
  margin: 15px 11px 0 0;
  padding: 11px 0;
  position: relative;
  width: 40px;
  border: 1px solid #007dc4; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.pin {
  display: block;
  margin: 0 auto;
}
.text-76 {
  float: left;
  width: 159px;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: bold;
}
.bottom-menu {
  margin: 38px auto 0;
  padding: 41px 0 40px;
  position: relative;
  background: #eef3f5;
}
.l-constrained-8 {
  margin: 0 auto;
  padding: 0 110px;
  position: relative;
  width: 1400px;
}
.text-77 {
  float: left;
  margin: 1px 0 0;
  font-size: 1rem; /* 16px / 16px = 1rem */
}
.text-78 {
  float: left;
  margin: 0 0 0 146px;
  font-size: 1rem; /* 16px / 16px = 1rem */
}
.text-79 {
  float: left;
  margin: 1px 0 0 181px;
  font-size: 1rem; /* 16px / 16px = 1rem */
}
.text-style-13 {
  line-height: 48px;
}
.text-style-12 {
  line-height: 52px;
}
.text-style-15 {
  display: block;
  line-height: 10px;
  margin-bottom: 0;
}
.text-style-3 {
  line-height: 58px;
}
.fw700 {
  font-weight: bold;
}
.text-style-7 {
  font-style: italic;
  font-weight: 600;
}
.text-style {
  line-height: 42px;
}
.text-style-6 {
  font-size: 2rem; /* 32px / 16px = 2rem */
  font-weight: bold;
}
.text-style-10 {
  font-weight: bold;
  line-height: 62px;
}
.text-style-14 {
  display: block;
  line-height: 16px;
  margin-bottom: 0;
}
.text-style-4 {
  font-weight: bold;
  line-height: 58px;
}
.text-style-5 {
  color: #ff9000;
  font-weight: bold;
}
.text-style-8 {
  line-height: 32px;
}
.text-style-9 {
  line-height: 62px;
}
.text-style-16 {
  line-height: 20px;
}
.text-style-2 {
  line-height: 38px;
}
.text-style-11 {
  display: block;
  line-height: 31px;
  margin-bottom: 0;
}
